body{
    background-color:#375;
}

#box{
    width:450px;
    height:450px;
    display:block;
    margin:5px auto;
        background-color: white;
    position: relative;
    box-sizing: border-box;
}

.snake-cube{
    position: absolute;
    background-color:blue;
    width:15px;
    height:15px;
    /*border:1px solid white;*/

    
}

#apple{
    position: absolute;
    background-color:red;
    width:15px;
    height:15px;
    
}

#score{
    text-align: center;
    font-size:40px;
    color:blue;
}

.buttons{
    margin-left:660px;
    justify-content: center;
    align-items: center;
}

.button:focus{
    border:none;
}

#start{
    background-color:green;
    font-size:20px;
    font-family: arial;
    color:white;
    border:none;
}
#pause{
    background-color:yellow;
    font-size:20px;
    font-family: arial;
    color:white;
    border:none;
}

#stop{
    background-color: red;
    font-size:20px;
    font-family:arial;
    color:white;
    border:none;
}