body{
    background-color:#375;
}

#box{
    width:450px;
    height:450px;
    display:block;
    margin:5px auto;
        background-color: white;
    position: relative;
    box-sizing: border-box;
}

.snake-cube{
    position: absolute;
    background-color:blue;
    width:15px;
    height:15px;
    /*border:1px solid white;*/

    
}

.apple{
    position: absolute;
    background-color:red;
    width:15px;
    height:15px;
    
}

.hidden{
    display:none;
}


.button{
  align-self: center;
  margin-left:570px;

  width:200px;
  height:40px;

  background-color:rgb(59,157,159);
  color:white;
  font-family:arial;
  border:none;  
}

.button:focus{
    border:none;
}